---
title:  CrackerSnack Articles
author: Josh Robinson
layout: default
filter: haml
dirty:  true
---
- prev = nil
- posts = @pages.find(:all, :blog_post => true, :sort_by => :created_at, :reverse => true)
- paginate(posts, 10) do |p|
  .article
    - if prev != p.created_at.strftime('%Y%m%d')
      - prev = p.created_at.strftime('%Y%m%d')
    .heading
      %h2.title= link_to_page(p)
      %p.date &#8212 #{p.created_at.strftime('%A, %B %e, %Y')}
    .reddit
    .twitter
    .summary
      - if p.summary
        %p= p.summary
      - else
        = render(p)
    .permalink= link_to("Full Article &#187", p)
- content_for :pagination do
  .paginate
    %span{:class => "previous #{'disable' unless @pager.prev?}"}
      = @pager.prev? ? link_to("&#171; Prev", @pager.prev) : "&#171; Prev"
    %span{:class => "next #{'disable' unless @pager.next?}"}
      = @pager.next? ? link_to("Next &#187;", @pager.next) : "Next &#187;"
    
